.viewprod__container{
    margin: 100px auto;
    display: flex;
    flex-direction: row;   
    width: 90vw; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.viewprod__left{
    /* background-color: rgb(255, 255, 255); */
    width: 40vw;
    display: inline-block;

}
.left__img>img{
    margin: 30px;
    width: 350px;
    height: auto;
    padding: 10px;
    justify-content: center;
}
.left__button{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}
.left__button>button{
    width: 200px;
    height: 50px;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
    background-color: rgb(207, 207, 218);
    color: black;
}
.left__button>button:hover{
    color: blue;
    background-color: aquamarine;
    cursor: pointer;
}
.viewprod__right{
    display: block;
    width: 50vw;
    justify-content: center;
    margin: auto;
    text-align: center;
}
.right__details{
    /* background-color: aquamarine; */
    border-bottom: 1px solid blueviolet;
    margin: 20px;
}
.right__offer{
margin-left: 10px;    text-align: start;

}