.login__container {
  background-color: rgb(220, 222, 231);
  display: block;
  margin: 20vh auto;
  width: 400px;
  text-align: center;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.loginContainer__header > h2 {
  color: rgba(0, 6, 12, 0.39);
  font-size: 30px;
  
}
.loginContainer__inputFields {
  display: block;
}
.loginContainer__inputFields > input {
  display: block;
  margin: 10px auto;
  width: 250px;
  height: 30px;
  border: none;
  color: rgb(20, 20, 19);
  font-size: 15px;
}
.loginContainer__loginButton > button {
  color: black;
  /* background-color: brown; */
  margin: 5px 10px;
  width: 300px;
  height: 30px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid rgb(170, 150, 160);
  border-radius: 4px;
}

.loginContainer__loginButton > button:hover {
  background-color: cadetblue;
  color: rgb(252, 248, 246);
}
.loginContainer__register {
  color:  none;
}
.loginContainer__registerButton {
  color: rgb(214, 16, 16);
  border: none;
  font-size: 18px;
  margin: 60px auto;
  cursor: pointer;
}
.loginContainer__registerButton > button {
  width: 300px;
  margin-left: 10px;
}
.loginContainer__registerButton > button:hover {
  background-color: cadetblue;
  color: rgb(250, 246, 243);
  cursor: pointer;
}


.topButton{
  width: auto;
  border-bottom: 1px  solid brown;

  /* padding: 20px; */
}
.topButton>button{
  font-size: 18px;
  color: rgb(0, 0, 0);
  /* background-color: rgb(14, 43, 18); */
  width: 150px;
  height: 40px;
  margin: 10px;
  border: none;
  border: 1px solid rgb(243, 235, 235);
  border-radius: 5px;
}
.topButton>button:hover{
  color: black;
  background-color: rgb(141, 184, 169);
  cursor: pointer;
}

.registerContainer{
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}