.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    margin: 80px auto;
    /* backdrop-filter: blur(10px); */
    /* background-color: red; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

}

/* *** close_icon for close  the form */
.close {
    content: '';
    cursor: pointer;
    position: fixed;
    right: 34%;
    top: 15%;
    color: rgb(11, 11, 11);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    border: none;
    /* border: 1px solid rgb(231, 226, 226); */
    font-size: 20px;
    /* box-shadow: rgba(167, 13, 13, 0.1) 0px 10px 50px; */
    /* background-color: #8c9096; */
}

.close:hover {
    font-size: 25px;
    color: wheat;
    background: #656262;
    width: 45px;
    height: 45px;
}

.main {
    /* background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%); */
    display: block;
    width: 30%;
    height: 50vh;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10% auto;
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);

}

.heading {
    color: rgba(5, 145, 49, 0.905);
    /* background-color: aqua; */
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.form {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    padding: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */


}

input {
    display: block;
    margin: 10px auto;
    width: 90%;
    height: 32px;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    /* box-shadow: rgba(167, 3, 3, 0.18) 0px 2px 4px; */

}

.loginContainer__loginButton>button {
    color: black;
    margin: 5px 10px;
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid rgb(145, 24, 84);
    border-radius: 4px;
}

.loginContainer__loginButton>button:hover {
    /* background-color: cadetblue; */
    color: rgb(252, 248, 246);
}

.loginContainer__register {
    color: none;
}

.loginContainer__registerButton {
    color: rgb(214, 16, 16);
    border: none;
    font-size: 18px;
    margin: 60px auto;
    cursor: pointer;
}

.loginContainer__registerButton>button {
    width: 300px;
    margin-left: 10px;
}

.loginContainer__registerButton>button:hover {
    /* background-color: cadetblue; */
    color: rgb(250, 246, 243);
    cursor: pointer;
}


.topButton {
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;} */
}

.topButton>button {
    font-size: 15px;
    color: rgb(0, 0, 0);
    width: 100px;
    height: 30px;
    margin: 10px;
    border: none;
    /* border-radius: 5px; */
}

.topButton>button:hover {
    color: black;
    background-color: rgb(125, 132, 130);
    cursor: pointer;
}

.registerContainer {
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
}

/* /* @media screen and (max-width:400px) */


@media screen and (max-width:600px) {
    .container{
        width: 100%;
    }
    .main{
        width: 90%;
    }
.close{

    cursor: pointer;
    position: fixed;
    right: 15%;
    top: 10%;
}
}