.container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  bottom: 0px;
  border-radius: 4px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  /* background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%); */
}


.innerContainer {
  display: flex;
  flex-wrap: wrap;  
  flex-direction: row;
}

.card {
  /* background-color: rgb(241, 234, 234); */
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 223px;
  height: auto;
  margin: 2px auto 0px auto;
  border-radius: 5px;

}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(145, 46, 46, 0.25) 0px 0.125em 0.5em, rgba(135, 4, 4, 0.1) 0px 0px 0px 1px inset;
  cursor: pointer;
}

.cardImg {
  width: 80%;
  height: 200px;
  object-fit: contain;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.cardPrice {
  object-fit: contain;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  margin: 0px;
  padding: 0px;

}

.cardModel {
  text-align: center;
  font-family: 'Libre Baskerville', serif;

}


.addCart {
  text-align: center;
  margin: 5px auto;
  justify-content: center;
  font-family: 'Ramaraja', serif;
  letter-spacing: 2px;
  width: 80%;
  height: 30px;
  border: 1px solid rgb(238, 165, 38);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  /* opacity: 0; */
}

.addCart:hover {
  background-color: rgb(5, 5, 78);
  color: azure;
  border-radius: 4px;
  /* opacity: 100; */
}


/* ===========showmore__button */

.showMore {
  width: 90vw;
  margin: auto;
}

.showMore>button {
  border: none;
  color: rgb(39, 122, 196);
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
  margin: 10px;

}

.showmore__button>button:hover {
  color: rgb(17, 154, 7);
  background-color: rgb(190, 195, 193);
  cursor: pointer;
}

/* ++++ heart_icon */
.heart_icon {
  color: red;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 10px;
}

.heart_icon:hover {
  color: black;

}


@media screen and (max-width:420px) {
  .container {
    background-color: rgb(255, 255, 255);
  }

  .innerContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    background-color: rgb(255, 255, 255);
  }

  .card {
    width: 49%;
    height: auto;
    /* background-color: rgb(72, 154, 47); */
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1px auto 2px auto;
    border-radius: 5px;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(145, 46, 46, 0.25) 0px 0.125em 0.5em, rgba(135, 4, 4, 0.1) 0px 0px 0px 1px inset;

  }

  .cardImg {
    width: 95%;
    height: 100px;
    object-fit: contain;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }


}
