.showProducts__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  bottom: 0px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 90vw;
  margin: auto;
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

.showProductsHeader__container {
  display: block;
  justify-content: center;
}

.showProductsHeader__heading>h2 {
  color: rgb(46, 46, 49);
  text-align: center;
  font-size: 30px;
  padding-top: 5px;
  font-family: 'Ramaraja', serif;
  letter-spacing: 2px;
}

.showProductsHeader__buttons {
  text-align: center;

}

.showProductsHeader__buttons>button {
  width: 200px;
  height: 30px;
  cursor: pointer;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 10px;
  justify-content: center;
  font-family: 'Ramaraja', serif;
  letter-spacing: 2px;
  border: 1px solid rgb(218, 214, 207);
  border-radius: 4px;
  border: none;
  background-color: rgb(95, 158, 123);
}

.showProductsHeader__buttons>button:hover {
  background-color: rgb(5, 5, 78);
  color: azure;
  border-radius: 4px;
}

.showProductsCard__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* ++++showProductsInner+++ */
.showProducts__inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

}

.showProductsInner__search {
  text-align: center;
  padding: 20px;

}

.showProductsInner__search>input {
  max-width: 400px;
  height: 35px;
  text-align: center;
  font-size: 18px;
  color: black;
  font-weight: 500;
  border: none;
  border-radius: 20px;
  border: 1px solid rgb(57, 58, 57);
  box-shadow: rgba(20, 19, 19, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}


.showProductsSingle__card {
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 220px;
  margin: 1px auto 2px auto;
  border-radius: 5px;

}

.showProductsSingle__card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(145, 46, 46, 0.25) 0px 0.125em 0.5em, rgba(135, 4, 4, 0.1) 0px 0px 0px 1px inset;
  cursor: pointer;
}

.showProductsSingle__cardImg {
  width: 90%;
  height: 200px;
  object-fit: contain;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.showProductsSingle__cardPrice {
  object-fit: contain;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  margin: 0px;
  padding: 0px;

}

.showProductsSingle__cardModel {
  text-align: center;
  font-family: 'Libre Baskerville', serif;

}


.showProducts__addToCartButton {
  text-align: center;
  margin: 5px auto;
  justify-content: center;
  font-family: 'Ramaraja', serif;
  letter-spacing: 2px;
  width: 80%;
  height: 30px;
  border: 1px solid rgb(238, 165, 38);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  /* opacity: 0; */
}

.showProducts__addToCartButton:hover {
  background-color: rgb(5, 5, 78);
  color: azure;
  border-radius: 4px;
  /* opacity: 100; */
}


/* ===========showmore__button */

.showmore__button {
  width: 90vw;
  margin: auto;
}

.showmore__button>img {
  border: none;

  float: right;
  /* border: 1px solid rgb(190, 132, 23); */
  border-radius: 5px;
  color: aliceblue;
  background-color: rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;

}

.showmore__button>button:hover {
  color: rgb(253, 251, 251);
  background-color: rgb(65, 73, 70);
  cursor: pointer;
}

/* ++++ heart_icon */
.heart_icon {
  color: red;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 10px;
}

.heart_icon:hover {
  color: black;
  
}
/* ++++ showMore button */
.showMore{
  padding: 10px;
  border: none;
  background-color: #2b0a37;
  color: palegreen;
}