@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');

.main {
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    padding: 10px;
}

.registerform,
.loginform {
    background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
    margin: 15% 40%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 25%;
    height: auto;
}

h3 {
    color: rgb(4, 5, 4);
    padding: 0px;
    margin: 0px;
    font-size: 22px;
    font-family: 'Noto Serif', serif;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border: none;
    margin-top: 5px;
}

.loginButton {
    background-color: #d9afd9;
    color: #97d9e1;
    font-size: 22px;
    padding: 5px;
}

.loginButton:hover {
    cursor: pointer;
    color: rgb(65, 39, 5);
    background-color: aqua;
}

.bottomButtons {
    /* background-color: red; */
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

.bottomButtons>button {
    color: rgb(160, 145, 145);
    background-color: #171617;
    border: none;
    width: 110px;
    height: 32px;    
    cursor: pointer;
    }