@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Playfair+Display:ital,wght@1,600;1,800&family=Poppins:wght@600&family=Ramaraja&family=Roboto+Mono:ital@0;1&family=Roboto+Slab:wght@500&family=Tapestry&display=swap");
.showHamBurger {
  display: none;
}
.fixedContainer {
  position: sticky;
  top: 0px;
  height: 6rem;
  background-color: #ffffff;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  margin: auto;
  width: 99vw;
  z-index: 999;
  align-items: center;
}

.left {
  margin-left: 10px;
}

.left > img {
  width: 280px;
  padding: 0px;
  cursor: pointer;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search {
  /* background-color: #98a298; */
  padding: 5px;
  margin: 0px;
}

.search > input {
  /* background-color: #087204; */
  padding: 0px;
  margin: 0px;
  width: 50vh;
  height: 40px;
  /* border: 1px solid rgb(30, 154, 8); */
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.cart {
  color: rgb(0, 0, 0);
  margin: 0px;
  cursor: pointer;
  background-color: #ffffff;
  padding: 0px;
  border-radius: 50px;
  /* background-color: #087204; */
  width: 42px;
  height: 42px;
  margin-right: 10px;
}

.CartNumber {
  color: #087204;
  font-weight: 600;
  font-size: 15px;
  position: relative;
  bottom: 45px;
  right: -16px;
  /* background-color: red; */
}

.login__button {
  color: rgb(23, 120, 88);
  padding: 10px;
}

.login__button > button {
  margin-left: 1%;
  border: none;
  border-radius: 4px;
  width: 80px;
  height: 40px;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  color: rgb(23, 27, 27);
  background-color: rgb(250, 247, 243);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.login__button > button:hover {
  background-color: rgb(9, 62, 71);
  color: aliceblue;
}

/* ....... for pop   search products.... */
.pop {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  position: fixed;
  right: 1px;
  z-index: 1000;
  backdrop-filter: blur(10px);
}
.popInner {
  width: 30%;
  margin-left: 60%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card {
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
  margin: auto;
  width: 90%;
  text-align: center;
  margin: 5px auto;
  cursor: pointer;
}
.card > img {
  padding: 5px;
}
.card > h3 {
  text-align: center;
  margin: auto;
}
.close {
  color: rgb(251, 0, 0);
  font-size: 30px;
  position: absolute;
  right: 10%;
  top: 30%;
  cursor: pointer;
}

/* //DropDown ... */

.dropdown__container {
  background-color: rgb(203, 20, 20);
  padding: 0px;
  margin: 0px;
}

.userIcon {
  font-size: 25px;
  color: rgb(149, 175, 88);
  cursor: pointer;
  /* box-shadow: 1px 1px black; */
  border-radius: 50px;
  width: 30px;
  height: 30px;
  padding: 10px;
  margin-right: 5px;
  background-color: #ffffff;
}

/* .dropdown__items, */
.innerContainer {
  display: block;
  width: auto;
  height: auto;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 30vw;
  height: 100vh;
  margin: 10px 10px;
  z-index: 60;
  /* transform: translateY(-10px); */
  background-color: #1b8d2e;
  /* backdrop-filter: blur(10px); */
}

.dropdown__items.active {
  position: fixed;
  left: 10px;
  transform: 500ms;
  /* display: none; */
  background-color: #7e977e;
  width: 70vw;
  height: 100vh;
  transform: translateY(-10px);
}

.innerContainer > button {
  margin: 5px;
  padding: 5px;
  color: #20104e;
  background-color: #edf3ee;
  width: 120px;
  margin-left: 5px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  display: block;
}

.innerContainer > button:hover {
  color: white;
  background-color: rgb(16, 16, 100);
  cursor: pointer;
}

.innerContainer .shopping__cart {
  background-color: #edf3ee;
}

/* ***** Css for min-width: 400px  && nax- width: 700px*/
@media screen and (min-width: 420px) and (max-width: 800px) {
  .showHamBurger {
    display: block;
    background-color: red;
  }
  .container {
    background-color: #087204;
    z-index: 999;

    position: sticky;
    top: 0px;
    /* display: none; */
  }
  .right {
    background-color: #087204;
    display: none;
  }
  .showHamBurger {
    display: block;
    background-color: red;
  }
  .left {
    /* border: 1px solid blue; */
  }

  .left > img {
    margin: auto;
    width: 200px;
  }
}

/* ***** Css for max-width: 400px */
@media screen and (max-width: 420px) {
  .container {
    /* background-color: rgb(162, 12, 12); */
    display: flex;
    position: sticky;
    top: 0px;
    height: 6rem;
    z-index: 999;
  }

  .left {
  }

  .left > img {
    margin: auto;
    width: 220px;
  }

  .right {
    padding: 0px;
  }

  .search {
    width: 60vw;
  }

  .search > input {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 28px;
    box-shadow: none;

    margin-left: 10px;
  }

  .cart {
    padding: 2px;
    margin: 0px;
    width: 38px;
    height: 38px;
    /* background-color: #ffffff; */
    box-shadow: none;
    position: absolute;
    top: 8px;
    right: 10px;
    border-radius: 50px;
    /* background-color: #393c39; */
  }

  .CartNumber {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: "Libre Baskerville", serif;
    color: rgb(6, 136, 21);
    font-weight: 500;
    position: absolute;
    top: 3px;
    right: 2px;
  }

  .login__button {
    margin: 0px;
    position: absolute;
    top: 50px;
    right: 10px;
    /* background-color: #087204; */
    padding: 2px;
    margin: 0px;
  }

  .login__button > button {
    width: 50px;
    height: 35px;
    padding: 0px;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: rgb(73, 73, 73);
    box-shadow: none;
    background-color: rgb(255, 255, 255);
  }

  /* ....... for  after .search products.... */
  .pop {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    position: fixed;
    right: 1px;
    z-index: 1000;
    margin: 45px auto;
  }
  .popInner {
    width: 90%;
    margin: 0px auto;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .card {
    margin-top: 10px;
    /* background-color: rgb(9, 81, 59); */
    display: flex;
    margin: auto;
    width: 90%;
    text-align: center;
    margin: 5px auto;
    cursor: pointer;
  }
  .card > img {
    padding: 5px;
  }
  .card > h3 {
    text-align: center;
    margin: auto;
  }
  .close {
    color: rgb(251, 0, 0);
    font-size: 30px;
    position: absolute;
    right: 10%;
    top: 30%;
    cursor: pointer;
  }

  .userIcon {
    color: rgb(42, 22, 152);
    cursor: pointer;
    border-radius: 5px;
    font-size: 30px;
    padding: 5px;
    border: none;
    box-shadow: none;
    background-color: #ffffff;
    position: relative;
    bottom: 1px;
    left: 90px;
    border-radius: 50%;
  }

  .dropdown__container {
    position: absolute;
    top: 65px;
    right: 14px;
    /* background-color: #20104e; */
  }

  .logout__button {
    padding: 0px;
  }

  .dropdown__container > img {
    width: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .dropdown__items {
    background-color: #790f0f;
    width: 70vw;
    height: 100vh;
    /* margin: auto; */
    position: fixed;
    left: 0px;
    top: 0px;
    display: none;
  }
  .innerContainer {
    display: block;
    /* width: auto; */
    /* height: auto; */
    width: 80vw;
    height: 100vh;
    /* margin: 10px 10px; */
    /* z-index: 60; */
    background-color: #d5ce0d;
  }
  .dropdown__items.active {
    position: fixed;
    left: 10px;
    transform: 500ms;
    /* display: none; */
    background-color: #6a8569;
    width: 70vw;
    height: 100vh;
    transform: translateY(0%);
  }
  /* }
  .dropdown__items2 {
    transform: translateY(0%);
    transition: all 0.5s;
    display: none;
    display: none;
  } */
  .dropdown__items > button {
    color: rgb(57, 76, 53);
    width: 80%;
    margin: 5px auto;
    font-size: 20px;
    padding: 20px;
    border-radius: 0px;
  }
}
